@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.ttf') format('truetype');
}

@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces_144pt-SemiBold.ttf') format('truetype');
}

:root {
  --dark-purple: #24053e;
  --eucalyptus: #44ffa1;
  --dark-gray: #584d62;
  --ghost-white: #fcf8ff;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fraunces', serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
}

.hero {
  background-color: var(--dark-purple);
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.header__link {
  color: var(--white);
  font-weight: 700;
  border-bottom: 3px solid var(--eucalyptus);
  transition: color 0.2s;
}

.header__link:hover {
  color: var(--eucalyptus);
}

.hero__text {
  margin-top: 4rem;
}

.hero__title {
  margin-bottom: 2.5rem;
  font-size: 3.125rem;
  line-height: 1;
}

.hightlight {
  border-bottom: 3px solid var(--eucalyptus);
}

.btn {
  display: inline-block;
  background-color: var(--eucalyptus);
  color: var(--dark-purple);
  padding: 0.75rem 1.5rem;
  line-height: 2;
  font-weight: 700;
  border: 2px solid transparent;
  transition: border 0.2s, color 0.2s, background-color 0.2s;
}

.btn:hover {
  background-color: transparent;
  color: var(--eucalyptus);
  border-color: var(--eucalyptus);
}

.hero__img {
  margin-top: 4rem;
  margin-bottom: -92px;
  position: relative;
  z-index: 2;
}

.info {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 4.5rem;
  background-color: var(--ghost-white);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-purple);
}

.card__num {
  border-radius: 50%;
  border: 1px solid var(--dark-gray);
  color: var(--dark-purple);
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-family: 'Fraunces', serif;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.card__title {
  margin-top: 1.5rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.card__text {
  margin-top: 1rem;
}

.author {
  padding-top: 6.25rem;
}

.author__img {
  max-width: 281px;
  margin: 0 auto;
}

.section-card {
  background-color: var(--dark-purple);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin-top: -3.375rem;
  position: relative;
}

.section-card__title {
  font-size: 2rem;
  line-height: 3rem;
}

.section-card__text {
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding-top: 4.625rem;
  padding-bottom: 4rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.divider {
  width: 100%;
  position: absolute;
  bottom: -3rem;
}

@media (min-width: 768px) {
  .hero {
    background: url('/images/bg-pattern-1.svg') center left -225px no-repeat,
      url('/images/bg-pattern-2.svg') bottom 100px right -100px no-repeat, var(--dark-purple);
  }

  .container {
    padding: 0 2.5rem;
  }

  .hero__text {
    max-width: 480px;
    margin: 0 auto;
    margin-top: 3.5rem;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__img {
    max-width: 514px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
  }

  .author-container {
    display: flex;
  }

  .section-card {
    margin-left: -7rem;
    margin-top: 10rem;
    text-align: left;
    align-items: start;
    padding: 3.5rem;
    background-image: url('/images/bg-pattern-3.svg');
    background-repeat: no-repeat;
    background-position: bottom -80px right 80px;
  }

  .author__img {
    align-self: flex-start;
  }

  .section-card__title {
    font-size: 3rem;
  }

  .cards {
    max-width: 573px;
    margin: 0 auto;
  }

  .card {
    flex-direction: row;
    text-align: left;
    gap: 2rem;
  }

  .card__num {
    width: 56px;
    height: 56px;
  }

  .card__title {
    margin-top: 0;
  }
}

@media (min-width: 1190px) {
  body {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .btn {
    padding: 0.875rem 2rem;
  }

  .header {
    padding-top: 3.5rem;
  }

  .hero {
    background: url('/images/bg-pattern-1.svg') center left -125px no-repeat,
      url('/images/bg-pattern-2.svg') bottom 100px right -50px no-repeat, var(--dark-purple);
  }

  .hero__text {
    margin-top: 4rem;
  }

  .container {
    max-width: 1110px;
    padding: 0;
  }

  .hero__text {
    max-width: 635px;
  }

  .hero__title {
    font-size: 5rem;
  }

  .hero__img {
    max-width: 767px;
    margin-bottom: -14rem;
  }

  .cards {
    max-width: revert;
    flex-direction: row;
    gap: 1.625rem;
  }

  .card {
    flex-direction: column;
    text-align: center;
    width: 33.3333%;
    gap: 0;
  }

  .card__title {
    margin-top: 3.5rem;
  }

  .card__text {
    margin-top: 1.75rem;
  }

  .info {
    padding-top: 18rem;
    padding-bottom: 8rem;
  }

  .author {
    padding-top: 10rem;
  }

  .author__img {
    max-width: 477px;
  }

  .section-card {
    margin-left: -6rem;
    padding: 4rem;
  }

  .section-card__title {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .section-card__text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
  }

  .footer {
    gap: 3.5rem;
    padding-top: 7.5rem;
    padding-bottom: 6.875rem;
  }
}
